[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mapi"]
	path = mapi
	url = https://github.com/cran/mapi
	shallow = true
	registered = true
